__pycache__/
*.py[cod]
*~
.DS_Store

# Data and Models
data/
archive/
archive.zip
ml-25m/
ml-25m.zip
results/
.env
*.json
*.npz
*.csv
*.pt

# IDE
.vscode/

# Local Datasets and PDF Artifacts
imdb/
tmdb/
*.log